* {
    box-sizing: content-box;
    --bg: #fff;
    --bg-d: #eee;
    --bg-dd: #ccc;

    --txt: #000;
    --txt-l: #444;

    --prim: #008171;
    --prim-l: #46a197;
    --sec: #bd9b2b;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--txt);
}

*::selection {
    background-color: var(--prim);
    color: var(--bg);
}

main > * {
    padding: 0 15vw;
}

.header-box {
    padding-top: 20px;
    position: relative;
    padding: 0 15vw;
    
}

.header {
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content :space-around;
    
}

.topdepart {
    display: inline-block;
    font-weight: bold;
    font-size: 70px;
    color: var(--prim);
    text-transform: uppercase;
    margin: 0;
    text-decoration: none;
}

.topdepart span {
    color: var(--sec);
}

.gray-bg {
    margin: 20px 0;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: var(--bg-d);
}

main .row {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

h2 {
    margin: 0 0 20px 0;
    font-size: 50px;
    color: var(--prim);
}

.article-card {
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    padding : 20px 20px;
    margin : 50px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    
    transition-duration: 0.5s;
}

.card-contenu {
    font-size: 20px;
    color: var(--prim);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content :space-around;
}

.tag-actu {
    background-color: var(--prim-l);
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    display: inline-block;
    padding: 5px;
}

.card-bloc-gauche {
   
    width: 70%;
}

.card-bloc-droit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.titre-actu {
   font-size: 22px;
   font-weight: bold;
   margin: 5px;
}

.accroche-actu {
    
    margin: 5px;
 }

 .lien-contenu-global {
    font-size: 18px;
    text-decoration: underline;
    color:#008171;
    margin: 10px 5px 0 5px;
    border: none;
    transition-property:all;
    transition-duration: 0.5s;
 }

 .img-actu {
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    margin: 0 0 10px 0;
 }

 .date-actu {
    font-size: 15px;
    font-style: italic;
    color: #444;
    margin: 10px 0 0 0;
 }

 .article-contenu {
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    padding : 20px 20px;
    margin : -40px 50px 50px 50px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
 }

 .lien-contenu-global:hover {
    cursor:pointer;
    font-size : 19px;
}

.article-card:hover {
    cursor: pointer;
    border: 1px solid #afadad;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1)
    
}